.top-div {
	display: flex;
	flex-direction: column;
	border-bottom: 1px grey solid;
}

.order-success section {
	margin: 20px;
	text-align: center;
}

.images img {
	margin: 10px;
}

.socials-checkout {
	margin: 50px;
	font-size: 50px;
}

.socials-checkout i {
	margin: 10px;
}