/* main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
} */

.cart-form {
	width: 100%;
	justify-content: space-between;

	align-items: flex-start;
	margin-top: 50px;
}

.cart-form i {
	color: var(--primary-color);
	cursor: pointer;
}

#cart-image {
	max-width: 30%;
}

.text-div {
	flex-direction: column;
	align-items: flex-start;
}

.text-div h3 {
	margin: 0;
	margin-bottom: 15px;
}

.text-div p {
	font-size: 14px;
	font-family: var(--secondary-font);
	margin: 0;
	margin-bottom: 5px;
}

.add-or-remove {
	border: 2px solid grey;
	padding: 10px;
	width: 80px;
	height: 30px;
	justify-content: space-between;
}

.add-or-remove i {
	cursor: pointer;
}

.subtotal {
	font-weight: 600;
	font-size: 18px;
	padding-top: 10px;
	margin-right: 2rem;
}

.hl {
	border-top: 1px grey solid;
	width: 100%;
}

#checkout-button {
	margin: 0;
	margin-top: 10px;
	width: 150px;
	align-self: flex-end;
}

.cart-title {
	margin-bottom: 5rem;
}

.desktop-category {
	display: none;
}

.flex-end {
	width: 90%;
	display: flex;
	justify-content: end;
	align-items: center;
	text-align: center;
}

@media screen and (min-width: 768px) {
	#mobile {
		display: none;
	}
	.desktop-category {
		display: flex;
		justify-content: space-between;
		width: 90%;
	}

	#cart-image {
		max-width: 20%;
	}
}

@media screen and (min-width: 1024px) {
	.cart-form {
		width: 100%;
	}
}
